nav#nav
  span#blog_name
    a#site-name(href=url_for('/')) #[=config.title]
    
  #menus
    !=partial('includes/header/menu_item', {}, {cache: true})
  #nav-right
    if (theme.algolia_search.enable || theme.local_search.enable)
      #search-button(style="margin-right: 1em;")
        a.site-page.social-icon.search
          svg.icon(aria-hidden="true")
            use(xlink:href=`#`+ 'icon-sousuo')

    #darkmode-button(style="margin-right: 1em;" title='切换夜间模式')
      a.darkmode.switch
        svg.icon(aria-hidden="true")
          use(xlink:href=`#`+ 'icon-ClearNight-qing-yewan')

    #toggle-menu
      a.site-page
        svg.icon(aria-hidden="true")
          use(xlink:href=`#`+ 'icon-caidanpeizhi')

